#container{
  text-align: center;
}
#lap{
  position: fixed;
  align-items: center;
  text-align: center;
  font-size: large;
}
.fix{
  
  align-items: center;
  margin-top: 50px;
  margin-left: 35px;
}

.stopper{
  background-image: linear-gradient(to right, #00bf36,#7774ed);
  padding: 40px 10px;
  position: flex;
  border-radius: 150px;
  text-align: center;
  font-size: 30px;
  width: 300px;
  height: 300px;
  align-items: center;

}
.counter{
  padding: 30px;
font-size: 30px;
margin-top: 10px;
font-weight: bold;
text-align: center;
}
.buttons{

  align-items: bottom;
  justify-items: flex-start;
}
