<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="container">
      Stopper
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-item>
      <ion-textarea ></ion-textarea>
  </ion-item>
</ion-row>
    
  
<ion-fab class="fix">
  <div class="stopper">
    <div class="counter">
      <span>{{h}}:</span>
      <span>{{min}}:</span>
      <span>{{sec}}:</span>
      <span>{{ms}}</span>
    </div>

    <div class="buttons">
    <ion-button   horizontal="center" shape="round" (click)="start()"><ion-icon name="play"></ion-icon>Start</ion-button>
    <ion-button  horizontal="end" shape="round" (click)="stop()"><ion-icon name="pause"></ion-icon>Stop</ion-button>
    <ion-button  horizontal="center" shape="round" (click)="reset()"><ion-icon name="square"></ion-icon>Reset</ion-button>
     <ion-button shape="round"  (click)="lap()"><ion-icon name="stopwatch-outline"></ion-icon>Lap</ion-button>
    </div>
  </div>
  <table id="lap"></table>
</ion-fab>
